.container
 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    background-color:rgb(2, 97, 149);  
 }

.item
{
    background-color: rgb(0, 59, 187);
    color:rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-size: 16px;
      border: 2px solid rgb(0, 0, 0);
}

 h2
{
    color:rgb(189, 18, 189);
    font-family:sans-serif
    text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
}
.underlined-heading {
  text-decoration: underline;
}